<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">Commercial Roofing California</h2>
    <p>
      Our company has been recognized for reliability, affordability, and speed,
      and customers keep recommending our service. Contact us for commercial
      roofing California locals can depend on!
    </p>
    <a href="tel: {{client.phoneForTel}}" class="cs-button-solid"
      >Call now: {{client.phoneFormatted}}</a
    >
  </div>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/banner.jpeg" />
    <source media="(min-width: 601px)" srcset="/assets/images/banner.jpeg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/banner.jpeg"
      alt="commercial roofing california"
      loading="lazy"
      width="2500"
      height="1667"
    />
  </picture>
</section>
